footer
	.text-footer
		p  Simple and minimalist designed website using an 
			a(href="https://swapi.co/", target="_blank") Star Wars API
			|  to display some information about the movie franchise. Here you will find info from all seven Star Wars films. 