$black: #333;
$yellow: #ffe300;
$white: #fff;

$font-primary: 'Montserrat', sans-serif;
$font-secundary:'Oswald', sans-serif;



//PADDING AND MARGIN
$space: 15px;

@for $i from 0 through 6 {
	.pb-#{$i} {
		padding-bottom: $i * $space;
	}

	.pl-#{$i} {
		padding-left: $i * $space;
	}

	.pr-#{$i} {
		padding-right: $i * $space;
	}

	.pt-#{$i} {
		padding-top: $i * $space;
	}
}

// MARGINS
@for $i from -2 through 6 {
	.mb-#{$i} {
		margin-bottom: $i * $space;
	}

	.ml-#{$i} {
		margin-left: $i * $space;
	}

	.mr-#{$i} {
		margin-right: $i * $space;
	}

	.mt-#{$i} {
		margin-top: $i * $space;
	}
}